<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>September Assignment</title>
  </head>
  <body>
    <a href="{% url 'useradmin:logout' %}">Logout</a>
    <h3>Welcome, {{ alias }}</h3>
    {{ userPokes.count }} people poked you!
    {% for poke in userPokes %}
      <p>{{ poke.poke_source.name }} poked you {{ poke.num_pokes }} time(s).</p>
    {% endfor %}
    <table>
      <tr>
        <th>Name</th>
        <th>Alias</th>
        <th>Email Address</th>
        <th>Poke History</th>
        <th>Action</th>
      </tr>
      {% for users in pokeHistory %}
        <tr>
          <td>{{ users.name }}</td>
          <td>{{ users.alias }}</td>
          <td>{{ users.email }}</td>
          <td>{{ users.tot_pokes }}</td>
          <td>
            <form action="/poke/{{ users.id }}">
              <input type="submit" name="submit" value="Poke!">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
